{% assign highlights = site.data.data.sidebar.highlights %}
{% if highlights %}
<div class="highlights-container container-block">

  <h2 class="container-block-title">
    {{ highlights.title }}
  </h2>

  <ul class="list-unstyled highlights-list">
    {% for highlight in highlights.info %}
        <h3 class="container-block-subtitle">
            {{ highlight.group.title }}
        </h3>
        {% for skill in highlight.group.skills %}
    
          <li> - {{ skill.item }}</li>
        
        {% endfor %}
    
    {% endfor %}
  </ul>

</div><!--//highlights-->
{% endif %}
